{% extends "survey/template.html" %}
{% load staticfiles %}

{% block styles %}{% endblock styles %}

{% block nav %}
    {% include "survey/nav.html" %}
{% endblock nav %}

{% block content %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags}}" {% endif %}>
                {{ message }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}


    <section class="create_survey">
        <form class="create_launch_survey" method="POST">
            {% csrf_token %}
            {{ create_launch_survey_form.as_ul }}<br>
            <input type="submit" value="Create">
        </form>
    </section>

{% endblock content %}

{% block scripts %}{% endblock scripts %}
