{% extends "survey/template.html" %}

{% block styles %}{% endblock styles %}

{% block content %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags}}" {% endif %}>
                {{ message }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <section class="support_feedback">
        <form class="support_feedback_form" method="POST">
            {% csrf_token %}
            {{ support_options_form }}
            {{ support_feedback_form }}<br>
            <input type="submit" value="Submit">
        </form>
    </section>

{% endblock content %}

{% block scripts %}{% endblock scripts %}
