{% extends "survey/template.html" %}
{% load staticfiles %}

{% block styles %}{% endblock styles %}

{% block content %}

    <table border="1" cellpadding="4" cellspacing="0">
        <tr>
            <th>Date</th>
            <th>School</th>
            <th>Cost</th>
            <th>Details</th>
            <th>Completed By</th>
            <th>Time</th>
            <th>Checked By</th>
            <th>Set Up By</th>
            <th>Quality</th>
            <th>Speed</th>
            <th>CS</th>
            <th>Comments</th>
            <th>OK For Marketing?</th>
        </tr>
    {% for survey in all_support_feedback %}
        <tr>
            <td>{{ survey.date_submitted }}</td>
            <td><a href="{{ survey.support_survey.domain }}" target="_blank">{{ survey.support_survey.domain }}</a></td>
            <td>{{ survey.support_survey.price }}</td>
            <td>{{ survey.support_survey.details }}</td>
            <td>{{ survey.support_survey.completed_by }}</td>
            <td>{{ survey.support_survey.time }}</td>
            <td>{{ survey.support_survey.checked_by }}</td>
            <td>{{ survey.support_survey.set_up_by }}</td>
            <td>{{ survey.quality }}</td>
            <td>{{ survey.speed }}</td>
            <td>{{ survey.service }}</td>
            <td>{{ survey.comment }}</td>
            <td>{{ survey.marketing }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock content %}

{% block scripts %}{% endblock scripts %}
