{% extends "survey/template.html" %}
{% load staticfiles %}

{% block styles %}{% endblock styles %}

{% block content %}

    <table border="1" cellpadding="4" cellspacing="0">
        <tr>
            <th>Date</th>
            <th>School</th>
            <th>Cost</th>
            <th>Details</th>
            <th>Completed By</th>
            <th>Time</th>
            <th>Checked By</th>
            <th>Set Up By</th>
            <th>Quality</th>
            <th>Speed</th>
            <th>CS</th>
            <th>Comments</th>
            <th>OK For Marketing?</th>
        </tr>
    {% for item in feedback %}
        <tr>
            <td>{{ item.date_submitted }}</td>
            <td><a href="{{ item.support_item.domain }}" target="_blank">{{ item.support_item.domain }}</a></td>
            <td>{{ item.support_item.price }}</td>
            <td>{{ item.support_item.details }}</td>
            <td>{{ item.support_item.completed_by }}</td>
            <td>{{ item.support_item.time }}</td>
            <td>{{ item.support_item.checked_by }}</td>
            <td>{{ item.support_item.set_up_by }}</td>
            <td>{{ item.quality }}</td>
            <td>{{ item.speed }}</td>
            <td>{{ item.service }}</td>
            <td>{{ item.comment }}</td>
            <td>{{ item.marketing }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock content %}

{% block scripts %}{% endblock scripts %}
