/* GENERIC STYLES
================= */
@font-face {
  font-family: 'Glyphter';
  src: url('../fonts/Glyphter.eot');
  src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Glyphter.woff') format('woff'),
    url('../fonts/Glyphter.ttf') format('truetype'),
    url('../fonts/Glyphter.svg#Glyphter') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
  background-color: #fff;
  line-height: 1.6;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  color: #004669;
}

/* main-header */
header {
  /*position: fixed;*/
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  background: #003366;
  color: #fff;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  z-index: 101;
}

header .brand {
  display: flex;
  width: 170px;
  height: 100%;
  align-items: center;
}

header .brand svg {
  height: 100%;
}

.ps-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.ps-phone p {
  font-size: 1rem;
}

.ps-phone a {
  font-size: 1.55rem;
  color: #ffce4f;
}

/* Footer */
footer {
  background-color: #003366;
  color: #fff;
  text-align: center;
  padding: 15px;
  font-size: 1.3rem;
}

footer ul li {
  list-style-type: none;
}

footer p {
  color: #fff;
  padding-top: 20px;
}

footer a {
  color: #fff;
  font-size: 1.3rem;
}

footer a:focus,
footer a:hover {
  text-decoration: underline;
}

.ps-footer svg {
  fill: currentColor;
  width: 280px;
  height: 80px;
}

.social-links ul {
  display: flex;
  width: 250px;
  margin: 40px auto 20px;
  justify-content: center;
}

.social-links a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 8px;
}

.social-links a svg {
  fill: #fff;
}

[type="submit"] {
  display: inline-block;
  background-color: #ffce4f;
  border: 1px solid #ffce4f;
  text-decoration: none;
  color: #003366;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2rem;
  padding: 1.4rem 3.5rem;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  margin: 2rem 0 1rem;
  -webkit-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
  position: relative;
  z-index: 10;
  text-shadow: none;
}

[type="submit"]:focus,
[type="submit"]:hover {
  -webkit-transform: translateY(-0.2rem) scale(1.005);
  -ms-transform: translateY(-0.2rem) scale(1.005);
  transform: translateY(-0.2rem) scale(1.005);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  border: 1px solid #ffeab5;
}

/* MEH-potatos
============== */
#switchview {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background: #469AE2;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

#switchview:focus, #switchview:hover {
  cursor: pointer;
}

[class*='icon-']:before {
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

/*
.icon-unsatifactory:before{content:'\0041';}
.icon-satifactory:before{content:'\0042';}
.icon-excelent:before{content:'\0043';}
*/
.icon-404:before {
  content: '\0045';
  color: #ed7983;
  font-size: 1.6rem;
}

/* GEOFF MODE
============= */
#geoffmode {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background: #469AE2;
  border-radius: 5px;
  color: #fff;
}

#geoffmode:focus, #geoffmode:hover {
  cursor: pointer;
}

.showme {
  display: table-cell;
}

.hideme {
  display: none;
}
