/* GENERIC STYLES
================= */
@font-face {
  font-family: 'Glyphter';
  src: url('../fonts/Glyphter.eot');
  src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Glyphter.woff') format('woff'),
    url('../fonts/Glyphter.ttf') format('truetype'),
    url('../fonts/Glyphter.svg#Glyphter') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
  background-color: #fff;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
  color: #004669;
}

/* main-header */
header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    background: #003366;
    color: #fff;
    height: 60px;
    padding: 0 20px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    z-index: 101;
}

header .brand {
    display: flex;
    width: 170px;
    height: 100%;
    align-items: center;
}

.ps-phone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.ps-phone p {
  font-size: 1rem;
}

.ps-phone a {
  font-size: 1.55rem;
  color: #ffce4f;
}


/* MEH-potatos
============== */
#switchview {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background: #469AE2;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

#switchview:focus, #switchview:hover {
  cursor: pointer;
}


[class*='icon-']:before {
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

/*
.icon-unsatifactory:before{content:'\0041';}
.icon-satifactory:before{content:'\0042';}
.icon-excelent:before{content:'\0043';}
*/

.icon-primarysite:before {
  content: '\0044';
  color: #ed7983;
  font-size: 1.6rem;
}

.icon-404:before {
  content: '\0045';
  color: #ed7983;
  font-size: 1.6rem;
}

/* GEOFF MODE
============= */
#geoffmode {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background: #469AE2;
  border-radius: 5px;
  color: #fff;
}

#geoffmode:focus, #geoffmode:hover {
  cursor: pointer;
}

.showme {
  display: table-cell;
}

.hideme {
  display: none;
}
